/.env
/.venv/
/data/repositories/**
/data/reports/**
/data/keys/**
!/data/repositories/.gitkeep
!/data/reports/.gitkeep
!/data/keys/.gitkeep
/docker/.env
__pycache__/
*.py[cod]
*.egg-info/
/build/
/dist/
